h1, h2 , h3{
	color:red;
	background-color: green;
	font-size: 18px;

}
h5,h4,h6{
	color:green;
	background-color: yellow;
	opacity: 1;
	display: flex;
}
p{
	text-decoration: underline;
	padding:10px;
	margin:10px;
	color:red;
}
.saffa{
	padding:20px;
	color:yellow;
}
.ali{
	color:green;
}
.new{
	background-color: red;
	
}
.h-llah{
	color:white;
	background-color:black;
}
