.allia{
	padding:10px;
	margin:10px;
	font-size: 28px;
	text-decoration: underline;
	border: 2px solid red;
	display: none;

	padding:30px;
	margin:80px;
	display:flex;
	justify-content:center;
	align-items:center;
	object-fit:cover;
}